<!doctype html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, _, _, ~{::body})}">
    <head>
        <title>Products</title>
    </head>
    <body>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="product : ${products.content}">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="100%" th:src="${product.image}" th:alt="${product.name}"/>
                            <div class="card-body">
                                <p class="card-text">[[${product.name}]]</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary" th:text="${#numbers.formatCurrency(product.price)}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>