<!DOCTYPE HTML>
<html lang="en" th:replace="~{layout :: layout(~{::title}, _, _, ~{::body})}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <h1 class="text-body-emphasis">[[#{home.index.headline}]]</h1>
        <p class="fs-5 col-md-8">[(#{home.index.text})]</p>

        <div class="mb-5">
            <span>[[#{home.index.swagger}]]</span>
            <a th:href="@{/swagger-ui.html}" target="_blank">[[#{home.index.swagger.link}]]</a>
        </div>
    </body>
</html>
